<div class="footer">
  <div class="footer-container">
    <div class="footer-listContainer">
      <h3>Three line lists</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line</span>
          <span matListItemLine>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          <span>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          Third line
        </mat-list-item>
      </mat-list>
    </div>
    <div class="footer-listContainer">
      <h3>Three line lists</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line</span>
          <span matListItemLine>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          <span>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          Third line
        </mat-list-item>
      </mat-list>
    </div>
    <div class="footer-listContainer">
      <h3>Three line lists</h3>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line</span>
          <span matListItemLine>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          <span>Third line</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Title</span>
          <span matListItemLine>Second line. This line will truncate.</span>
          Third line
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="footer-IconContainer">
    <mat-list class="footer-IconList">
      @for (item of array; track item) {
      <mat-list-item class="footer-IconListItem">
        <fa-icon [icon]="item"></fa-icon>
      </mat-list-item>
      }
    </mat-list>
  </div>
</div>
