<div class="register">
  <div class="register-Container">
    <div class="register-FormContainer" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="register-Form">
        <h1>Register</h1>
        <p>Already registeder? Log in here: <a href="">click me</a></p>
        <mat-form-field>
          <mat-label>Name:</mat-label>
          <input matInput
                 formControlName="name"
                 required
                 placeholder="Your Name" />
          <mat-error *ngFor="let error of getErrors(form.get('name')!,
         'Name')">
            {{error}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input matInput
                 formControlName="email"
                 required
                 placeholder="Your email" />
          <mat-error *ngFor="let error of getErrors(form.get('email')!,
  'Email')">
            {{error}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password:</mat-label>
          <input matInput
                 formControlName="pass"
                 required
                 placeholder="Your password"
                 type="password"/>
          <mat-error *ngFor="let error of getErrors(form.get('pass')!,
  'Pass')">
            {{error}}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password:</mat-label>
          <input matInput
                 formControlName="cpass"
                 required
                 placeholder="Confirm Password"
                 type="password"/>
          <mat-error *ngFor="let error of getErrors(form.get('cpass')!,
'Cpass')">
            {{error}}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"
                type="submit" [disabled]="!form.valid">
            Register
        </button>
      </div>
     
    </div>
    <div class="register-Image">
      <img src="./assets/img/GTLogoWhite.png"/> 
    </div>
  </div>
</div>
