
<div class="mainpage">

  <p class="mainpage-Title">Find your new ride</p>
  <div class="mainpage-Container">
    <div class="mainpage-CardContainer">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>Brand New</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="./assets/img/M3Icon1_150.png" style="margin-bottom: 2%; z-index:1;" />
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <mat-chip-set aria-label="BrandNew">
            <mat-chip>Find New</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="mainpage-CardContainer">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>Low Mileage</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="./assets/img/M3Icon2_150.png" style="margin-bottom: 2%; z-index:1;" />
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <mat-chip-set aria-label="LowMiles">
            <mat-chip>Fresh Whips</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="mainpage-CardContainer">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>Retailers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img src="./assets/img/M3Icon3_150.png" style="margin-bottom: 2%; z-index:1;" />
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <mat-chip-set aria-label="Retailers">
            <mat-chip>Locations</mat-chip>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div class="mainpage-CardGridHolder">
    <div class="mainpage-ImageCardContainerSecondary">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-content class="mainpage-CardContent">
          <div class="mainpage-ImgContainer">
            <img src="" id="mainpage-cardImage1">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mainpage-ContentCardContainerSecondary">
      <mat-card class="mainpage-Card">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>BMW M2 Competition</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mainpage-CardContent" style="flex-direction:column;">
          <div class="mainpage-CardText">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </div>
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <button mat-raised-button>
            View Info
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div class="mainpage-CardGridHolder">
    <div class="mainpage-ImageCardContainerSecondary">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-content class="mainpage-CardContent">
          <div class="mainpage-ImgContainer">
            <img src="" id="mainpage-cardImage2">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mainpage-ContentCardContainerSecondary">
      <mat-card class="mainpage-Card">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>BMW M2 Competition</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mainpage-CardContent" style="flex-direction:column;">
          <div class="mainpage-CardText">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </div>
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <button mat-raised-button>
            View Info
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>

  <div class="mainpage-CardGridHolder">
    <div class="mainpage-ImageCardContainerSecondary">
      <mat-card class="mainpage-Card" appearance="outlined">
        <mat-card-content class="mainpage-CardContent">
          <div class="mainpage-ImgContainer">
            <img src="" id="mainpage-cardImage3">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mainpage-ContentCardContainerSecondary">
      <mat-card class="mainpage-Card">
        <mat-card-header class="mainpage-CardHeader">
          <mat-card-title>BMW M2 Competition</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mainpage-CardContent" style="flex-direction:column;">
          <div class="mainpage-CardText">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </div>
        </mat-card-content>
        <mat-card-footer class="mainpage-CardFooter">
          <button mat-raised-button>
            View Info
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>

